
   
        <nav class="mt-2 pt-1">
            <ul type=none >
   <li><button class="btn btn-primary col-lg-2 col-md-2 col-sm-3 col-3" routerLink="/studentlist" routerLinkActive="activate">studentlist</button>  
  <button class="btn btn-primary offset-1 col-lg-2 col-md-2 col-sm-3 col-5" routerLink="/registrationForm" routerLinkActive="activate">RegistrationForm</button>
  <button  [hidden]="!check()" class="btn btn-primary  offset-1 col-lg-2 col-md-2 col-sm-3 col-5" routerLink="/loginForm" routerLinkActive="activate">LoginForm</button>
  
  <button class="btn btn-primary  offset-1 col-lg-3 col-md-3 col-sm-4 col-3" routerLink="/tdfFormpage" routerLinkActive="activate">TemplateDrivenFormValidation</button> 
  
  <button class="btn btn-primary  offset-1 col-lg-2 col-md-2 col-sm-2 col-2" routerLink="/directiveExample" routerLinkActive="activate">directives</button> 

  <button class="btn btn-primary  offset-1 col-lg-2 col-md-2 col-sm-2 col-2" routerLink="/structuralDirective" routerLinkActive="activate">structuralDirectives</button> 
  <button class="btn btn-primary  offset-1 col-lg-2 col-md-2 col-sm-2 col-2" routerLink="/servicesEx" routerLinkActive="activate">services</button> 
 
</li>
</ul>
<hr>
</nav>