
<div class="container">
<form #userForm="ngForm">
 
{{userForm.value|json}}
<hr>
{{userModel|json}}

<div class="form-group">
  <label>user Name:</label>
    <input type="text"  class="form-control" name="userName" [(ngModel)]="userModel.username"  required #name="ngModel"   [class.is-invalid]="name.invalid && name.touched"/>
<small class="text-danger" [class.d-none]="name.untouched || name.valid">userName is required</small>
  </div>


<div class="form-group">
  <label>phone:</label>
    <input type="tel"  class="form-control" name="phone" [(ngModel)]="userModel.phone" #phone="ngModel" [class.is-invalid]="phone.touched && phone.invalid" required pattern="^\d{10}$"/>
<!--<div  class="text-danger" [class.d-none]=" phone.untouched || phone.valid ">
phone number is required and digits must be of 10 digits
</div>-->
<div *ngIf="phone.errors && (phone.touched || phone.invalid)">
<small class="text-danger" *ngIf="phone.errors.required">phone number is required</small>
<small  class="text-danger" *ngIf="phone.errors.pattern">phone number must be of 10 digits</small>
</div>

  </div>

<div class="form-group">
  <select class="custom-select" name="topics" [(ngModel)]="userModel.topics"  #topicRef="ngModel" [class.is-invalid]="topicRef.touched && topicRef.invalid" >
    <option  value="">i am interested in   </option>
    <option *ngFor="let topic of topics" value="topic" >{{topic}}</option>
  </select>
</div>

<div class=" mb-3">
  <label>TimePreference:</label>
  <div class="form-check">
    <input type="radio"  class="form-check-input" value="morning" name="timepreference" [(ngModel)]="userModel.timepreference" />
    <label class="form-check-label">morning (9AM- 12PM)</label>
</div>
<div class="form-check">
  <input type="radio"  class="form-check-input" value="evening" name="timepreference" [(ngModel)]="userModel.timepreference"/>
  <label class="form-check-label">Evening (5PM- 8PM)</label>

</div>
</div>

<div class="form-check mb-3">
  <input class="form-check-input" type="checkbox" name="offers" [(ngModel)]="userModel.offers" #offerReference="ngModel" [class.is-invalid]="offerReference.touched "  />
  <label class="form-check-label">
    send me promotional offers
  </label>
</div>

<button class="btn btn-primary " type="submit">submit</button>

</form>
</div>
